@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jersey 20";
  src: url("/fonts/Jersey_20/Jersey20-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jersey 25";
  src: url("/fonts/Jersey_25/Jersey25-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/Josefin_Sans/JosefinSans-Regular.ttf") format("truetype");
}

body {
  @apply m-0 bg-[#020202] overflow-hidden text-white;
}

.content {
  @apply absolute top-[50%] left-[50%] text-center w-[90%];
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  user-select: none;
}

canvas {
  display: block;
}

#music-visualizer {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
}

#waitSongCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.debug {
  @apply border border-slate-200;
}

.spin {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
