@import url("https://fonts.googleapis.com/css2?family=Inter&family=Jersey+20&family=Jersey+25&family=Josefin+Sans&family=Poppins:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #020202;
  overflow: hidden;
}

* {
  @apply text-white;
}

.content {
  @apply absolute top-[50%] left-[50%] text-center w-[90%];
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  user-select: none;
}

canvas {
  display: block;
}

#music-visualizer {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
}

#waitSongCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
